# dependencies
node_modules/
.pnp
.pnp.js

# build output
dist/
dist-ssr/
build/

# env files
# NOTE: .env.production JOVI JOIE
.env
.env.local
.env.development
.env.development.local
.env.production.local
.env.test.local

# logs
*.log
npm-debug.log*
yarn-debug.log*

# editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.sw?

# misc
dist.zip
*.zip
.cache/
coverage/